<ul>
  <li *ngFor="let item of (data | async); index as i">
    <div _ngcontent-search-rogers-c79="" class="ds-borders ds-brcolor-fog ds-corners mb-16 ng-star-inserted">
      <div _ngcontent-search-rogers-c79="" class="row p-8" id="ts_en_roam_like_home_and_roaming_support-1490890303025">
        <div _ngcontent-search-rogers-c79="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div _ngcontent-search-rogers-c79="" class="mb-16">
            <a _ngcontent-search-rogers-c79="" class="text-title-5" id="searchtitle_0" [href]="item.url">
              {{item.seo.title}}
            </a>
            <span  _ngcontent-search-rogers-c79="" class="ds-bgcolor-fog ds-corners ml-4 px-8 categorylbl"
              id="searchcategory_0">
              {{this.category[i][0].charAt(0).toUpperCase() + this.category[i][0].slice(1)}}
              <span *ngFor="let cat of category[i]; index as j" [hidden]="j==0">
                <span _ngcontent-search-rogers-c79="" class="ng-star-inserted">-</span>
                {{this.category[i][j].charAt(0).toUpperCase() + this.category[i][j].slice(1)}}
              </span>

            </span>
          </div>
          <p _ngcontent-search-rogers-c79="" class="mb-0" id="searchDsr_0">{{item.seo.description}}</p>

        </div>
      </div>
    </div>
  </li>
</ul>
